body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  height: 100%;
}

/* @@@@@@@@ - PAGE CONTENT - @@@@@@@@ */

#page-content-wrapper {
  width: 80%;
  height: 100vh;
  float: right;
  background: url('/images/background.jpg');
  background-size: cover;
  position: relative;
}

#content-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

/* @@@@@@@@ - SIDEBAR - @@@@@@@@ */

#sidebar-wrapper {
  width: 20%;
  height: 100vh;
  background: linear-gradient(rgb(177, 160, 160), rgb(101, 92, 92));
  border-right: 2px solid rgb(97, 80, 80);
  float: left;
}

.sidebar-logo {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-logo img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.divider-header {
  color: white;
  border-bottom: 1px solid white;
  font-size: 16px;
}

.divider-wrapper {
  margin: 0 auto 15px auto;
  width: 85%;
}

/* @@@@@@@@ - SIDEBAR SEARCH - @@@@@@@@ */

.sidebar-search {
  position: relative;
  width: 80%;
  margin: 10px auto;
}

#player_search {
  padding-left: 28px !important;
}

#search_icon {
  position: absolute;
  top: 9px;
  left: 10px;
}

/* @@@@@@@@ - SIDEBAR GAMEMODES- @@@@@@@@ */

.sidebar-gamemodes {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

.sidebar-gamemodes li {
  margin-top: 10px;
  width: 100%;
  color: white;
}

.gm-btn {
  width: 100% !important;
}
